.m-0{
    margin-bottom: 0 !important;
}
.name-title{
    font-size: 18px;
    font-weight: 500;
}
.grid{
    display: grid;
    grid-template-columns:auto auto auto ;
    grid-row-gap: 1rem;
}
.profile{
    // width: 50%;
    display: flex;
    justify-content: center;
    transform: translate(0%, 50%);
    // vertical-align: middle;
}
.mat-card-subtitle, .mat-card-content{
    font-size: 18px;
    padding-bottom: 10px;
}